.emblem_container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.emblem_img {
    height: 150px;
    width: auto;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
    border: 1px solid rgba(0, 0, 0, 0.116);

}

.star_rating_svg {
    filter: invert(42%) sepia(95%) saturate(672%) hue-rotate(360deg);
    margin-right: 4px;
}

.add, .btn_plus, .btn_minus {
    font-size: 24px;
    color: rgb(226, 103, 105);
    font-weight: 900;
}

.btn_plus:hover {
    cursor: pointer;
    color: rgba(226, 103, 105, 0.5);
}

.btn_minus:hover {
    cursor: pointer;
    color: rgba(226, 103, 105, 0.5);

}

.border_circle {
    border-radius: 50%;
    border: 1px solid #00000054;
    height: 24px;
    width: 24px;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;

}

.border_circle:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.bag_svg {
    filter: grayscale(100%) brightness(80%) invert(90%);
    opacity: 0.6;
    width: 40px;
    margin-bottom: 16px;
}

.trash_svg {
    filter: brightness(0) saturate(100%) invert(37%) sepia(79%) saturate(545%) hue-rotate(330deg);

}

.trash_svg:hover {
    cursor: pointer;
    opacity: 0.5;
}

.pay_btn {
    background-color: rgba(226, 103, 105, 1);
    padding: 12px;
    border-radius: 24px;
    margin-top: 16px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.pay_btn:hover {
    background-color: rgba(226, 103, 105, 0.8);
    cursor: pointer;
}

.order_confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.open_basket_btn {
    background-color: rgba(226, 103, 105, 1);
    padding: 8px 0;
    border-radius: 24px;
    color: white;
    border: none;
    width: calc(100vw - 60px) !important;
    position: fixed;
    bottom: 3%;
    display: none;


}

.open_basket_btn_div {
    display: flex;
    justify-content: center;
    text-align: center;
}

.open_basket_btn:hover {
    background-color: rgb(241, 138, 140);
    cursor: pointer;


}

.close_basket_btn {
    display: none;
}

.close_basket_btn:hover {
    cursor: pointer;
    filter: invert(0.75);
}
